.activation-container {
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background-color: white;
}

.activation-img {
  width: 50%;
  height: auto;
}



.activation-email-notify {
  font-size: 1.5rem;
  text-align: center;
}

.activation-code-box-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.code-box {
  padding: 3em 5.5em;
  background-color: #e0e0e0;
}

.receive-code {
  font-weight: bold;
  font-size: 1.25rem;
}

span {
  color: #6750a4;
  cursor: pointer;
  font-size: 1.25rem;
}

.verify-proceed-button {
  width: 31.25rem;
  height: 2.5rem;
  background-color: #6750a4;
  color: white;
  padding: 10px 0;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.25rem;
}
@media (max-width: 425px) {
  .activation-img {
    width: 90%;
  }
}
