*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
    

}

.cart-container{
    max-width: 43.75rem;
    background-color: white;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

img{
    width: 100%;
    height: 300px;
}

.order-qty-add-to-cart{
    border: 1px solid red;
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
justify-content: space-between;

}

.increase-decrease-order-quantity{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid #6750A4;
}

.add-to-cart{
    width: 60%;
    background-color: #6750A4;;
    color: white;
    text-transform: capitalize;
    padding: 10px 0;
    height: 50px;
}