.cart-modal {
  max-width: 80rem;
  width: 90%;
  background-color: white;
  font-size: 2rem;
  height: auto;
}
.cart-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4rem 1rem;
}
.cart-modal-content-container {
  position: relative;
}
.close-icon_cart {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 2rem;
  cursor: pointer;
  right: 2rem;
}

.cart-modal-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.food-description {
  padding: 1rem 0;
  text-align: center;
  font-weight: 400;
  width: 55%;
  font-size: 1.7rem;
}

.price {
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.25rem;
}

.order-quantity-add-to-cart-container {
  width: 90%;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-quantity-container {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 0.625rem;
  border: 1px solid #6750a4;
}

.increase-order,
.decrease-order {
  color: #6750a4;
  font-size: 2.5rem;
  padding: 0 5px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border: none;
  background-color: white;
}

.quantity {
  font-weight: bold;
  font-size: 2rem;
}

.add-to-cart {
  width: 60%;
  background-color: #6750a4;
  color: white;
  text-transform: capitalize;
  font-size: 1.125rem;
  padding: 0.625rem 0;
  height: 3.75rem;
  border: none;
  cursor: pointer;
}

@media (max-width: 425px) {
  .food-description {
    width: 100%;
  }
}
/* ************** */
.cart-window {
  position: fixed;
  background-color: #fff;
  border-radius: 4px;
  transition: transform 0.3s ease;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay-cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
