.categories-section_meal {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: auto;
  height: auto;
  gap: 1rem 4rem;
}
.category-meal_img-container {
  width: 100%;
}
.category-meal_img-container img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.category-meal_name {
  font-size: 4rem;
  font-weight: 500;
}
.categories-section_order{
  margin-top: 3rem;
}
@media (max-width: 992px) {
  
  .category-meal_name {
    font-size: 2rem;
  }
}
