.delivery-address {
  display: flex;

  background-color: yellow;
  height: 70vh;
}
.address-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
}
.map-section {
  flex-basis: 50%;
  border: 2px solid black;
}
.map-section img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  flex-basis: 50%;
}





.loc {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-left: 48px;
}

.text1 {
  margin-right: 10px;
}

.icon {
  fill: #000;
}

.a:hover {
  text-decoration: underline;
}
.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
