footer {
  background: #6750a4;
  margin-top: 13rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  color: white;
  line-height: 2;

}

.footer-title {
  font-weight: 600;
  font-size: 2rem;
}
.footer-link {
  font-size: 1.5rem;
}
.footer-padding {
  padding: 4rem 8rem 0rem 8rem;
}
@media (max-width: 992px) {
  .footer-padding {
    padding: 4rem 3rem 3rem 3rem;
  }
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 3rem;
  }
}
