
.email-input {
    width:28em;
    height:40px;
    background-image: url('../images/mail-icon.png');
    background-repeat: no-repeat;
    padding-left:5rem;
    background-position:9%;
  }
  
  .primary-button {
    width: 20em;
    height: 40px;
    margin-left: 20%;
    background-color: #6750A4;
    color: white;
  }
  
  .form-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
    height: 152px;
   }
  
  .enter-email-text {
    width:150px;
    height: 56px;
  }
  
 .app-logo{
  width: 30%;
  display: flex;
  justify-content:center ;
 }

 .invalid-feedback{
  color: red;
 }