.forgot-password-container {
  background-color: white;
 
  display: flex;
  flex-direction: column;
  align-items: center;
 

  color: black;
}
.privacy-img {
  width: 50%;
  height: auto;
  margin-bottom: 2rem;
}

.forgot-password_instruction {
  font-size: 1.5rem;
  font-weight: 500;
}
.forgot-password_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password_input-container {
  width: 100%;
}
.forgot-password_email-input {
  background-image: url("../images/mail-icon.png");
  background-repeat: no-repeat;
  padding-left: 5rem;
  background-position: 5%;
  width: 100%;
  margin-bottom: 2rem;
}
.forgot-password_btn {
  width: 50%;
}

.invalid-feedback {
  color: red;
}
@media (max-width: 567px) {
  .forgot-password_instruction {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .privacy-img {
    width: 80%;
    height: auto;
  }
  .forgot-password_input-container {
    width: 100%;
  }
}
