.homepage-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
  padding: 0 3rem;
  font-size: 2rem;
  background-color: white;
}
.homepage-nav .nav-section {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}

.address-container {
  margin-left: 3rem;
  display: flex;
  align-items: center;
}
.address {
  margin: 0 1rem;
}
.homepage-nav_search {
  text-align: center;
  background-color: #ebebeb;
  background-image: url(../images/magnifier.svg);
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 43%;
  padding: .5em 0;
  font-size: 2rem;
  width: 100%;
  border-color: transparent;
}
.nav-section_arrow-icon,
.nav-section_location-icon {
  width: 1rem;
}
.nav-section_profile-icon,
.nav-section_cart-icon {
  width: 2.5rem;
  margin-left: 2rem;
}
