.delivery-address {
    display: flex;
  
    background-color: white;
    height: 70vh;
    font-size: 1.5rem;
  }
  .address-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
  
    padding: 2rem 1rem 0rem 1rem;
    position: relative;
  }
  .map-section {
    width: 50%;
    height: 100%;
  }
  .map-section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .input-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
  }
  .delivery-address_search-input {
    height: 4rem;
    width: 100%;
    padding: 0 4rem;
    border-radius: 2rem;
    border: 1px solid black;
    text-align: center;
  }
  .delivery-address_search-input::placeholder {
    color: #1d1b20;
    opacity: 0.38;
  }
  
  .current-location {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  .current-location p {
    margin-left: 0.5rem;
  }
  .current-location img {
    width: 1.5rem;
  }
  .set-location {
    position: absolute;
    bottom: 8rem;
  }
  @media (max-width: 768px) {
    .delivery-address {
      flex-direction: column;
    }
    .map-section {
      width: 100%;
      height: 50%;
    }
  
    .address-section {
      width: 100%;
      height: 50%;
    }
    .set-location {
      bottom: 3rem;
    }
    .input-container {
      margin-top: 2rem;
    }
    .input-container .current-location {
      margin-top: 1rem;
    }
  }
  