a{
  color: #1D1B20;
}
.restaurant-card {
  border: 1px solid #cac4d0;

  box-shadow: 0 0 2px 0rem black;
  border-radius: 10px;
  transition: all ease .3s;
}
.restaurant-card:hover{
  
  box-shadow: 0 0 10px 0 #6650a4bb;
}
.restaurant-name-container {
  display: flex;
  align-items: center;
}
.restaurant-card_top-section,
.restaurant-card_bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 2rem 1rem 0 1rem;
}
.restaurant-name {
  margin-left: 1rem;
  font-weight: 600;
}
.restaurant-img {
  object-fit: cover;
  width: 100%;
  height: 25rem;
}
.restaurant-logo {
  border-radius: 50%;
}
.rating {
  display: flex;
  align-items: center;
}
.star {
  margin-right: 0.4rem;
  margin-top: -0.5rem;
}
