h1 {
  font-size: 2.5rem;
}
.page-container {
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.breadCrumb img {
  max-width: 100%;
  height: auto;
  margin-top: calc(85px);
}
.menu-card{
  cursor: pointer;
}
.menu-title {
  padding: 2rem;
}
.menu-title p {
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.rating {
  display: flex;
}
.rating img {
  width: 18px;
  margin-right: 2px;
}
.rating-stats {
  font-size: 1.7rem;
  margin-left: 1rem;
}
.search {
  width: 100%;
  background: #f5f5f5;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.search input {
  background: transparent;
  border: 0;
  color: #000;
  width: 100%;
}
.search input:focus {
  outline: none;
}
.search img {
  width: 1.5rem;
  cursor: pointer;
}
.tab-heading {
  background: #f0f0f0;
  font-size: 3rem;
}
.menu-box:first-child{border-top: 1px solid #c7c7c7;}
.menu-box {
  border-bottom: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  border-left: 1px solid #c7c7c7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.menu-box h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
}
.menu-box p {
  line-height: 1.5;
}
.menu-box .price {
  margin-top: 1rem;
  text-align: left !important;
}
.menu-box img {
  width: 12rem;
  margin-left: 2rem;
}
.menu-highlight {
  width: 100%;
  order: 2;
}
.cart-wrapper {
  background-color: white;
  box-shadow: -1px 5px 10px 8px rgba(0, 0, 0, 0.04);
  margin: 2.5rem;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
 width: 100%;
  transition: position ease .4s;
}
.scrolled-cart.cart-wrapper{
top: 6rem;
right: 8rem;
position: fixed;
width: 32%;

}
.cart-wrapper h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.cart-wrapper p {
  font-size: 1.5rem;
}
.cart-desc {
  text-align: left;
}
.cart-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.cart-row h5 {
  font-size: 15px;
}
.cart-row p {
  font-size: 15px;
  padding-top: 1rem;
}
.cart-wrapper button:not(.remove) {
  width: 100%;
}
.cart-wrapper button,
.add-to-cart-btn {
  background: #6750a4;
  border: 0;
  color: white;
  padding: 10px;
  margin-top: 1rem;
}
.cart-row img {
  width: 6rem;
}
.counter img {
  width: 17px;
  margin-left: 4px;
}
.counter span {
  font-size: 15px;
  margin-left: 4px;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.activeTab {
  background: rgba(159, 136, 220, 0.2);
  border-radius: 10px;
  color: #6750a4;
  padding: 10px;
  font-weight: bold;
}
button {
  cursor: pointer;
}
@media (min-width: 640px) {
  .cart-wrapper {
    order: 1;
  }
}
@media (min-width: 768px) {
  .menu-highlight {
    width: 60%;
  }
  .cart-wrapper {
    position: absolute;
    right: 0;
    width: 38%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
