.signup-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  border: none;
}
.signup-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  width: 100%;
  height: 4rem;
  padding-left: 4rem;
  outline: none;
 
}
.signup-form{
  text-align: center;
}

.close-signup-icon {
  align-self: flex-end;
}
.signup-instruction{
    margin-top: 1rem;
    display: flex;
}
.signup-instruction p{
  margin-left: .5rem;
  color: #6750A4; 
}


.biker-img{
    height: 20rem;
}
.error-message{
  text-align: left;
}

@media(max-width:425px){
    .biker-img{
        width: 60%;
        height: auto;
    }
    .signup-input-container img{
        width: 1.5rem;
    }
}