
.app {
  min-height: 100vh;
  max-width: 100%;
  background-color: #6750A4;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 288px 102px 288px 102px;
}

.main-container {
  display: grid;
  flex-direction: column;
  justify-items:center;
  width:80%;
  height: auto;
  background-color: white;
  border: 1px solid black;
  padding: 44px;
  background-image: url(./images/close.svg);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 5%;
  background-size: 17px;

}



