.app {
  min-height: 100vh;
  max-width: 100%;
  background-color: #6750a4;

  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1;
}

/* .main-container {
  display: grid;
  flex-direction: column;
  justify-items: center;
  max-width: 864px;
  height: 820px;
  left: 288px;
  margin: auto;
  background-color: white;
  border: 1px solid black;
} */
