body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  text-align: center;
}

.modal h2 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 44px;
  margin-block-start: 0%;
}

.modal p {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 20px;
}
.p_left{
  text-align: end;
  padding: 0%;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal input {

  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  width: 70%;
  
}

.modal .error {
  color: red;
  font-size: 14px;
}
.close-button{
  color: black;
  background-color: #fff;
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  font-size: 20px;
}

.modal button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn{
  margin-top: 10px;
  background-color:#6750A4;
  color: #fff;
  margin-bottom: 5px;

}
#google_btn{
  border: 1px solid rgb(1, 1, 1) ;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  display:flex;
  justify-content:center;
  position: relative;
;
 
}
.google_icon{
  position: absolute;
  left:27%;
}



