html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: black;
  scroll-behavior:smooth ;
  position: relative;
  max-width: 100%;
  min-height: 100vh;
}
.load{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: red;
  font-size: 30rem;
  z-index: 4444;
}
.scrolled.landing-nav-links a{
  color: white;
}
h2 {
  font-weight: 600;
  font-size: 3rem;
}
h2.auth-title {
  text-align: center;
}
form {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.auth-padding {
  padding: 2rem 2.5rem;
}
.auth-width {
  max-width: 80rem;
  width: 90%;
}
.homepage-padding {
  padding: 10rem 8rem 0rem 8rem;
}
form .form-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
}
.error-message {
  align-self: flex-start;
  color: red;
  font-size: 1.3rem;
  margin-top: 0.5rem;
}
.close-button {
  color: black;
  background-color: #fff;
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  font-size: 20px;
}
.close-icon {
  align-self: flex-end;
}
form input {
  margin-top: 0.5rem;
  padding-left: 2rem;
  height: 3rem;
  border: 1px solid black;
}
.overlay {
  background-color: #6650a495;

  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-dark,
.logo-white {
  width: 10rem;
}
h3 {
  font-weight: 600;
  font-size: 2.5rem;
}
a {
  text-decoration: none;
  color: black;
}
.forgot-password {
  color: #6750a4;
  align-self: flex-end;
  margin-top: 1rem;
}

.overlay_dark{
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 8, 8, 0.228);
  }
  .auth-error{
    color: red;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 1rem;
    display: block;
  }
  .auth-error-display{
    display: none;
  }
  .auth-input-container {
    position: relative;
   
  }
  .auth-input-container .icon-left{
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%); 
  }
  .auth-input-container .icon-right{
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%); 
  }
@media (max-width: 992px) {
  .homepage-padding {
    padding: 15rem 3rem 0rem 3rem;
  }
}
@media (max-width: 465px) {
  html {
    font-size: 50%;
  }
  .logo-dark,
  .logo-white {
    width: 7rem;
  }
}
@media (max-width: 375px) {
  h2.auth-title {
    font-size: 2.5rem;
  }
}
:focus-visible {
  outline: none;
}
