


html{
  font-size: 62.5%;
}
*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}
h2{
  font-weight: 500;
  font-size: 3rem;
}
form{
  margin-top: 3rem;
  width: 100%;
  display:flex;
  flex-direction: column;
}
form .form-group{
margin-bottom: 2rem;
display: flex;
flex-direction: column; 
width: 100%;
font-size: 1.2rem;
font-weight: 500;

}
form .form-group .error-message{
  align-self: flex-start;
  color: red;
  margin-top: 1rem;
}
form input{
  margin-top: .5rem;
  padding-left: 2rem;
  height: 3rem;
  border: 1px solid black;
}

.logo-dark{
  width: 10rem;
  
}
@media (max-width:465px){
  html{
    font-size: 50%;
  }
} 
